.sidenav {
    background-color: #1A1A1A;
    width: 10rem;
    margin-top: -70px;
}

.sidenav a {
    color: #fdfdfd;
}

.sidenav i {
    padding-right: 10px;
}

.a:hover {
    color: darkorchid;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}

.sidenav a:hover {
    color: darkorchid;
}

.sidenav .logo {
    max-height: 55px;
    width: 60%;
    align-items: left;
}

.sidenav .logo {
    margin: 15px;
}

.container {
    background-color: #1A1A1A;
}