<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">

            <span>
                <!-- Logo do Site -->
                <a>
                    <img src="../assets/oniHealth.png" alt="logo" class="logo">
                </a>
            </span>

            <!-- Itens do menu lateral -->
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/employers"> 
                <i class="material-icons">
                    emoji_people
                </i>
                Funcionários
            </a>
            <a mat-list-item routerLink="/"> 
                <i class="material-icons">
                    logout
                </i>
                Sair
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet> <!-- Aqui fica as rotas -->
    </mat-sidenav-content>
</mat-sidenav-container>