@import url(https://fonts.googleapis.com/css?family=Orbitron);
/*
.home .title {
    font-family: 'Orbitron', courier, sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
}

.home .title:hover {
    text-shadow: 0.04em 0.04em #820aa0e5, 0.08em 0.08em #15b4f3e5, 0.12em 0.12em #820aa0e5
    , 0.16em 0.16em #15b4f3e5, 0.20em 0.20em #820aa0e5;
}

.home .subtitle {
    font-size: 1.1rem;
    color: white;
}

.home {
    width: 75%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: #1b1e1f;
    background-size: cover;
}

.home .title .subtitle {
    margin-top: -50px;
}

.home .title .subtitle {
    background-color: #1b1e1f;
}

.mainTitle {
    color: white;
}


.cppBack {
    width: 100vw;
    height: 100vh;
}

.spanBack {
    width: 100%;
}
*/

/*
  Arrumar o background principalmente a width
*/

#imageBackground {
  position: absolute;
  width: 92.8vw;
  height: 90vh;
}

#title {
  position: absolute;
  top: 10%;
  left: 40%;
  font-family: 'Orbitron', courier, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  color: white;
}

#title:hover {
  text-shadow: 0.04em 0.04em #820aa0e5, 0.08em 0.08em #15b4f3e5, 0.12em 0.12em #820aa0e5
  , 0.16em 0.16em #15b4f3e5, 0.20em 0.20em #820aa0e5;
}

#subtitle {
  position: absolute;
  font-size: 1.1rem;
  color: white;
  top: 20%;
  left: 33%;
}

#title, #subtitle {
  background-color: #1b1e1f;
}

i {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
