<app-nav></app-nav>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-card class="home mat-elevation-z3">
                <mat-card-title class="title">
                    Oni Health
                </mat-card-title>
                <mat-card-subtitle class="subtitle">
                    Seu melhor amigo para o gerencimaneto de planos de saúde!
                </mat-card-subtitle>
            </mat-card>
    </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <span class="spanBack">
                <a>
                    <img src="../assets/cppBack.png" alt="background" class="cppBack">
                </a>
            </span>
    </div>
    </div>
<app-footer></app-footer>
