<app-nav></app-nav>
<mat-card class="main">
    <mat-card-title>
        Edição de Funcionário
    </mat-card-title>

    <!-- Formulário para editar o funcionário -->

    <form>
        <!-- Campo do nome -->
        <mat-form-field>
            <input matInput [(ngModel)]="employer.name" name="name" required>
            <mat-placeholder class="placeholder">Nome</mat-placeholder>
        </mat-form-field>

        <!-- Campo do cargo -->
        <mat-form-field>
            <mat-label class="placeholder">Cargo</mat-label>
            <mat-select [(ngModel)]="employer.role" required>
                <mat-option *ngFor="let role of roles" [value]="role.id">
                  {{role.name}}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <!-- Campo do salário -->
        <mat-form-field>
            <input matInput [(ngModel)]="employer.salary" name="salary">
            <mat-placeholder class="placeholder">Salário (R$)</mat-placeholder>
        </mat-form-field>

        <!-- Campo do número de telefone -->
        <mat-form-field>
            <input matInput [(ngModel)]="employer.phoneNumber" name="phoneNumber">
            <mat-placeholder class="placeholder">Telefone</mat-placeholder>
        </mat-form-field>

        <!-- Campo do email -->
        <mat-form-field>
            <input matInput [(ngModel)]="employer.email" name="email">
            <mat-placeholder class="placeholder">Email</mat-placeholder>
        </mat-form-field>

    </form>

    <!-- Botão de edição do funcionário -->

    <button mat-raised-button (click)="updateEmployer()" class="mainButton"> Salvar </button>

    <!-- Botão para cancelar a operação -->

    <button mat-raised-button (click)="cancel()" class="secondaryButton"> Cancelar </button>
</mat-card>
