<app-nav></app-nav>
<div class="container">
    <div class="col-12">
<mat-card class="main">
    <mat-card-title>
        Novo Funcionário
    </mat-card-title>

    <!-- Formulário para inserir o funcionário -->

    <form>

        <!-- Campo do nome -->
        <mat-form-field>
            <input matInput [(ngModel)]="employer.name" name="name" required>
            <mat-placeholder>Nome</mat-placeholder>
        </mat-form-field>

        <!-- Campo do cargo -->
        <mat-form-field>
            <mat-label>Cargo</mat-label>
            <mat-select [(ngModel)]="employer.role" required>
                <mat-option *ngFor="let role of roles" [value]="role.id">
                  {{role.name}}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <!-- Campo do salário -->

        <mat-form-field>
            <input matInput [(ngModel)]="employer.salary" name="salary">
            <mat-placeholder>Salário (R$)</mat-placeholder>
        </mat-form-field>

        <!-- Campo do número de telefone -->

        <mat-form-field>
            <input matInput [(ngModel)]="employer.phoneNumber" name="phoneNumber">
            <mat-placeholder>Telefone</mat-placeholder>
        </mat-form-field>

        <!-- Campo do email -->
        <mat-form-field>
            <input matInput [(ngModel)]="employer.email" name="email">
            <mat-placeholder>Email</mat-placeholder>
        </mat-form-field>

    </form>

    <!-- Botão de criação do funcionário -->

    <button mat-raised-button (click)="createEmployer()" class="mainButton"> Salvar </button>

    <!-- Botão para cancelar a operação -->

    <button mat-raised-button (click)="cancel()" class="secondaryButton"> Cancelar </button>
</mat-card>
    </div>
</div>
