.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #1A1A1A;
}

.footer span {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
}

/* Estilos para o tema escuro */
.theme-dark {
  background-color: #1A1A1A;
}

.theme-dark span {
  color: #fdfdfd;
}

/* Estilos para o tema claro */
.theme-light {
  background-color: #fdfdfd;
}

.theme-light span {
  color: #1A1A1A;
}
