button {
    margin-top: 30px;
    margin-right: 195px;
    float: right;
}

.mainButton {
    background-color: darkorchid;
    color: whitesmoke;
}

.secondaryButton{
    background-color: whitesmoke;
    color: darkorchid;
}